<%= form_for send_message, url: contacts_path do |message_form| %>
    <fieldset>
      <div class="field">
        <%= t('views.partials.message.form.labels.name') %>
        <br/>
        <%= message_form.text_field :name %>
      </div>
      <br/>
      <div class="field">
        <%= t('views.partials.message.form.labels.email') %>
        <br/>
        <%= message_form.email_field :email %>
      </div>
      <br/>
      <div class="field">
      <%= t('views.partials.message.form.labels.subject') %>
        <br/>
        <%= message_form.text_field :subject %>
      </div>
      <br/>
      <div class="field">
        <%= t('views.partials.message.form.labels.message') %>
        <br/>
        <%= message_form.text_area :content, size: '5x5', class: 'mce-non-editable'%>
      </div>
    </fieldset>

    <%= recaptcha_tags %>

    <fieldset>

      <div class="field">
        <%= message_form.submit I18n.translate('views.partials.message.form.button') %>
      </div>
    </fieldset>
<% end %>