<div class="container">
  <h2><%= t('views.pages.links.topic') %></h2>
  <p>
    <%= link_to "http://customs.bg/", target: :_blank do %>
        <%= t('views.pages.links.customs') %>
    <% end %>
  </p>

  <p>
    <%= link_to "http://info.mitnica.com/", target: :_blank do %>
        <%= t('views.pages.links.info_customs') %>
    <% end %>
  </p>

  <p>
    <%= link_to "http://www.nap.bg/", target: :_blank do %>
        <%= t('views.pages.links.nra') %>
    <% end %>
  </p>

  <p>
    <%= link_to "http://nra.bg/vatbulletin/", target: :_blank do %>
        <%= t('views.pages.links.register_vat') %>
    <% end %>
  </p>

  <p>
    <%= link_to "http://www.sofia-airport.bg/", target: :_blank do %>
        <%= t('views.pages.links.airport_sofia') %>
    <% end %>
  </p>
</div>

