<h1><%= I18n.translate('views.pages.partners.topic') %></h1>
<div>
  <table>
    <tbody>
    <tr>
      <td class="col-md-4">
        <%= link_to "http://velitcourier.com//", target: :_blank do %>
            <%= image_tag('logo.svg') %>
        <% end %>
      </td>
      <td class="col-md-4">
        <%= link_to "http://velitcourier.com//", target: :_blank do %>
            <%= image_tag('logo.svg') %>
        <% end %>
      </td>
      <td class="col-md-4">
        <%= link_to "http://velitcourier.com//", target: :_blank do %>
            <%= image_tag('logo.svg') %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="col-md-4">
        <%= link_to "http://velitcourier.com//", target: :_blank do %>
            <%= image_tag('logo.svg') %>
        <% end %>
      </td>
      <td class="col-md-4">
        <%= link_to "http://velitcourier.com//", target: :_blank do %>
            <%= image_tag('logo.svg') %>
        <% end %>
      </td>
      <td class="col-md-4">
        <%= link_to "http://velitcourier.com//", target: :_blank do %>
            <%= image_tag('logo.svg') %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="col-md-4">
        <%= link_to "http://velitcourier.com//", target: :_blank do %>
            <%= image_tag('logo.svg') %>
        <% end %>
      </td>
      <td class="col-md-4">
        <%= link_to "http://velitcourier.com//", target: :_blank do %>
            <%= image_tag('logo.svg') %>
        <% end %>
      </td>
      <td class="col-md-4">
        <%= link_to "http://velitcourier.com//", target: :_blank do %>
            <%= image_tag('logo.svg') %>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>
</div>

