<!DOCTYPE html>
<html>
<head>
  <%= render "partials/header" %>
</head>
<body>

<div class="navbar">
  <div class="container">
    <%= render "partials/navbar" %>
  </div>
</div>
<div class="container">
  <%= render 'partials/flash-messages' if !flash.empty? %>
</div>

<div class="container high-enough">
  <main>
    <%= yield %>
  </main>
</div>

<div class="divider-10"></div>

<div class="footer">
  <div class="container">
    <%= render "partials/footer" %>
  </div>
</div>

</body>
</html>